.mob-notes-content-container{
    display: flex;
    justify-content: space-around;
    gap: 1vw;
    align-items: center;
    min-height: 15vh;
    height: auto;
}

.mob-notes-time-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    min-height: 15vh;
    width: 30vw;
    margin-top: 2vh;
}

.mob-note-date{
    font-size: 0.9rem;
    font-weight: 600;
    margin: 1vh;
    color: rgb(115, 108, 99);
}

.mob-note-time{
    margin: 0 1vh 0 1vh;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(115, 108, 99);
}

.mob-notes-content-details{
    min-height: 15vh;
    height: auto;
    width: 70vw;
    text-align: left;
    margin: 2vh 4vw 0 0;
    overflow-x: scroll;
}
.mob-note-content{
    width: 60vw;
    height: auto;
}

